<!DOCTYPE html>
<html>

<head>
    <title>Api - SOS Máquinas</title>
    <style type="text/css">
        * {
            font-family: "Arial";
            padding: 0;
            margin: 0;
        }
        
        html {
            background: #303F9F;
        }
        
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        
        .main-api {
            box-shadow: 1px 0px 1px 0px #eedede;
            background: #ffffff;
            margin: 20px 20px;
        }
        
        .main-api h1 {
            text-align: center;
            font-size: 1.2rem;
        }
        
        .container {
            display: flex;
            flex-direction: column;
        }
        
        .container img {
            width: 100%;
        }
        
        .container .info {
            padding: 20px 20px;
        }
        
        .container .info h1 {
            color: #212121;
        }
    </style>
</head>

<body>
    <main class="main-api">
        <div class="container">
            <div>
                <img src="https://www.rescuecursos.com/wp-content/uploads/2018/05/slide_construcao_1b.jpg" alt="img-principal">
            </div>
            <div class="info">
                <h1>
                    <%=msg%>
                </h1>
            </div>
        </div>
    </main>
</body>

</html>